<h1>Quotes List</h1>
<div *ngFor="let quote of quotes | orderby: 'vote': 'desc'">
    <div>
        <p>{{quote.body}}</p>
        <span> - {{quote.author}} </span>
    </div>
    <div>
        <h3 *ngIf="quote.vote >= 0">+{{quote.vote}}</h3>
        <h3 *ngIf="quote.vote < 0">{{quote.vote}}</h3>
    </div>
    <div>
        <button class='up' (click)="voteUp(quote)">Vote Up</button>
        <button class='down' (click)="voteDown(quote)">Vote Down</button>
        <button class='delete' (click)="delete(quote)">Delete</button>
    </div>
</div>