<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>Ninjas!</h1>
    <img src="{{ url_for('static', filename='ninja.png')}}" alt="Female ninja.">
    <p>Ninjas are an elite stealth martial arts group of fighters known the world over for being cool.  For more information about ninjas, visit their <a href="https://en.wikipedia.org/wiki/Ninja">Wikipedia page</a>.</p>
  </body>
</html>
