<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Most Popular Secrets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Secrets/css/style.css' %}">
  </head>
  <body>
    <h1>Most Popular Secrets...</h1>
    <a href="/secrets">Back</a>
    {% if secrets %}
    <div id="secrets">

      {% for secret in secrets %}
      <!--display each secret with a time delta that shows how much time has passed since the secret was created-->
        <p>{{secret.secret}}  ({{secret.created_at|timesince}} ago) <span style="font-style:italic">{{secret.like_secret.count}} likes</span>
          <!--add likes to each secret but only allow user to like secret once-->
        {% if userObj in secret.get_like_users %}
        <span style="font-weight:bold">You liked this</span>
        {% else %}
        <a href="/like/popular/{{secret.id}}">Like</a>
        {% endif %}
        <!--if secret was authored by person logged in, display option to delete secret-->
        {% if secret.author.id == request.session.user.id %}
        <span style="font-weight:bold">You posted this</span> <a href="/delete/popular/{{secret.id}}">Delete</a></p>
        {% else %}
        </p>
        {% endif %}
      {% endfor %}
    {% endif %}
    </div>
  </body>
</html>
