<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secrets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Secrets/css/style.css' %}">
  </head>
  <body>
    <h1>Hello, {{request.session.user.first_name}}!</h1>
    <form action="/post_secret" method="post">
      {% csrf_token %}
      <textarea name="secret" rows="8" cols="80">Your secret here...</textarea>
      <button type="submit" name="button">Post</button>
    </form>
    <a href="/popular">Most Popular Secrets</a>
    <h1>Recent Secrets</h1>
    <!--print out last 10 secrets-->
    {% if secrets %}
    <div id="secrets">

      {% for secret in secrets %}
      <!--display each secret with a time delta that shows how much time has passed since the secret was created-->
        <p>{{secret.secret}}  ({{secret.created_at|timesince}} ago)
          {% with count=secret.like_count %}
          <span style="font-style:italic">{{count}} likes</span>
          {% endwith %}
          <!--add likes to each secret but only allow user to like secret once-->
          <!--update to reflect new like table -->
        {% if userObj in secret.get_like_users %}
        <span style="font-weight:bold">You liked this</span>
        {% else %}
        <a href="/like/secrets/{{secret.id}}">Like</a>
        {% endif %}
        <!--if secret was authored by person logged in, display option to delete secret-->
        {% if secret.author.id == request.session.user.id %}
        <span style="font-weight:bold">You posted this</span> <a href="/delete/secrets/{{secret.id}}">Delete</a></p>
        {% else %}
        </p>
        {% endif %}
      {% endfor %}
    {% endif %}
    </div>
    <a href="/logoff">Log off</a>
  </body>
</html>
