<h1>Player Status - Game {{game}}</h1>
<h3><a [routerLink]='[ "/status", "game", "1"]'>Game 1</a></h3> <span>|</span>
<h3><a [routerLink]='[ "/status", "game", "2"]'>Game 2</a></h3> <span>|</span>
<h3><a [routerLink]='[ "/status", "game", "3"]'>Game 3</a></h3>
<br>
<table>
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players">
            <td>{{player.name}} </td>
            <td>
                <button [ngClass]="{green: player.status === 'Playing'}" (click)="statusChange('Playing')">Playing</button>
                <button [ngClass]="{red: player.status === 'Not Playing'}" (click)="statusChange('Not Playing')">Not Playing</button>
                <button [ngClass]="{yellow: player.status === 'Undecided'}" (click)="statusChange('Undecided')">Undecided</button>
            </td>
        </tr>
    </tbody>
</table>