<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cars</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Here in My Car, I Feel Safest of All</h1>
    <p>Unless you wanted <a href="/cats">cats</a>.</p>
    <p>Or you could enter a <a href="/cars/new">new car</a>.</p>
    <img src="/images/car3.jpg" alt="Future car">
    <img src="./images/car2.jpg" alt="Bumblebee and car">
    <img src="../images/car1.jpg" alt="Disney cars">
  </body>
</html>
