<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Owl City</title>
  </head>
  <body>
    <h1><%=owl.name%>'s Page</h1>
    <h3>Deets</h3>
    <p>Age: <%=owl.age%></p>
    <p>Wizard: <%=owl.wizard%></p>
    <a href="/">Owl City</a>
  </body>
</html>
