<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic Mongoose</title>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <%for (const user of users){  %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.age %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <form action="/users" method="post">
      Name: <input type="text" name="name">
      Age: <input type="number" name="age">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
