<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Mobile First proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery from Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <script type="text/javascript">
      $(document).ready(function () {
        $('#login').click(function () {
          $('#info').html('<form action="/login" method="post">' + "{% csrf_token %}" + '<input type="email" name="email" placeholder="email"><input type="password" name="password" placeholder="password"><button class="btn btn-info" type="submit">Log In</button></form>')
        })
        $('#register').click(function () {
          $('#info').html('<form action="/register" method="post">' + "{% csrf_token %}" + '<input type="text" name="first_name" placeholder="First Name"><input type="text" name="last_name" placeholder="Last Name"><input type="email" name="email" placeholder="email"><p>Password must be at least 8 characters.</p><input type="password" name="password" placeholder="password"><input type="password" name="password_confirmation" placeholder="password confirmation"><button class="btn btn-info" type="submit" id="register_button">Register</button></form>')
        })
      });
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'TheWall/css/style.css' %}">

    <title>The Wall</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <h3>CodingDojo Wall</h3>
      </div>
    </nav>
    <main class="container">
      <section class="row">
        <h1>Welcome to the Wall!</h1>
        <div id="flash_messages">
          {% if messages %}
            {% for message in messages %}
              <p class="error">{{message}}</p>
            {% endfor %}
          {% endif %}
        </div>
        <button class="btn btn-primary" type="button" id="login" name="button">Log In</button>
        <button class="btn btn-success" type="button" id="register" name="button">Register</button>
        <div id="info">

        </div>
      </section>
    </main>
  </body>
</html>
