<div>
    <p>MainComponent</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum hendrerit erat, a tempor mauris volutpat eget. Nulla facilisi. Fusce tincidunt ante massa, quis efficitur dolor convallis id. In non consectetur ligula. Duis facilisis nulla
        velit, eleifend auctor ante blandit eu. Pellentesque nunc dui, dictum vitae lacus quis, maximus posuere neque. Mauris blandit scelerisque urna eu egestas. Nunc et convallis nulla, rhoncus molestie ante. Nunc dignissim arcu quam, nec tincidunt
        tortor condimentum et. Maecenas lacinia ante eget massa rutrum, in molestie velit placerat. Sed sed consectetur mauris. Nulla facilisi. Fusce eu accumsan sapien. Donec arcu justo, imperdiet ut orci in, bibendum lobortis diam. Pellentesque eu justo
        id dui sodales semper ac non risus.</p>

    <p>Aliquam tortor neque, auctor eu tristique ut, fermentum eget risus. Nulla non finibus tellus. Aliquam vestibulum, dolor sed accumsan tempor, orci risus finibus eros, vitae varius erat nibh in dolor. Nulla id lectus rutrum, imperdiet odio vitae, congue
        arcu. Aenean et urna nec sem fringilla porttitor. Aenean purus magna, aliquam porta dui eu, lobortis fringilla ante. Nam ut urna in urna pharetra vulputate. Nullam fringilla nunc ipsum, non gravida massa placerat non. Curabitur eget enim ac nisl
        pretium semper. Fusce et laoreet tortor. Proin sit amet aliquam arcu.</p>
</div>