<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Edit User {{user['first_name']}} {{user['last_name']}}</h2>
    <form action="/user/update{{user['id']}}" method="post">
      <input type="text" name="fname" placeholder="{{user['first_name']}}" value="{{user['first_name']}}">
      <input type="text" name="lname" placeholder="{{user['last_name']}}" value ="{{user['last_name']}}" >
      <input type="text" name="email" placeholder="{{user['email']}}" value="{{user['email']}}">
      <button type="submit" name="form_submit">Submit</button>
    </form>
    <a href="/user/{{user['id']}}">Go Back</a>
  </body>
</html>
