<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Portfolio</title>
    <!-- jQuery from Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Real_Portfolio_App/css/style.css' %}">
  </head>
  <body>
    <main class="container">

    <h1>Hi, I'm Shamika</h1>
    <h2>Welcome to My Portfolio</h2>
    <section class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <a href="/projects">Projects</a>
        <p>From simple web games to interesting and interactive websites, my projects run the gambit of Python, JavaScript, jQuery, and more!</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <a href="/about">About Me</a>
        <p>I haven't always been a coding ninja.  Find out more about how I became who I am today.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <a href="/testimonials">Testimonials</a>
        <p>What have others said about me and my work? </p>
      </div>
    </section>
  </main>
  </body>
</html>
