<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'DisappearingNinja/css/style.css' %}">
    <title>Ninja</title>
  </head>
  <body>
    {% if not color %}
      <img src="{% static 'DisappearingNinja/img/donatello.jpg' %}" alt="Donatello">
      <img src="{% static 'DisappearingNinja/img/leonardo.jpg' %}" alt="Leonardo">
      <img src="{% static 'DisappearingNinja/img/michelangelo.jpg' %}" alt="Michelangelo">
      <img src="{% static 'DisappearingNinja/img/raphael.jpg' %}" alt="Raphael">
    {% elif color == 'blue' %}
      <img src="{% static 'DisappearingNinja/img/leonardo.jpg' %}" alt="Leonardo">
    {% elif color == 'orange' %}
      <img src="{% static 'DisappearingNinja/img/michelangelo.jpg' %}" alt="Michelangelo">
    {% elif color == 'red' %}
      <img src="{% static 'DisappearingNinja/img/raphael.jpg' %}" alt="Raphael">
    {% elif color == 'purple' %}
      <img src="{% static 'DisappearingNinja/img/donatello.jpg' %}" alt="Donatello">
    {% else %}
      <img src="{% static 'DisappearingNinja/img/notapril.jpg' %}" alt="Megan Fox">
    {% endif %}
  </body>
</html>
