<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="post">
      <div>
        <h3>Your name:</h3>
        <input type="text" name="author">
      </div>
      <div>
        <h3>Your quote:</h3>
        <textarea name="quote" rows="8" cols="80"></textarea>
      </div>
      <button type="submit" name="button">Add my quote!</button>
    </form>
    <button type="button" name="button"><a href="/quotes">Skip to quotes!</a></button>
  </body>
</html>
