<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
  </head>
  <body>
    <h2>Submitted Information</h2>
    <div>
      Name: <%= info.name %>
      Dojo Location: <%= info.dojo %>
      Favorite Language: <%= info.language %>
      Comment: <%= info.comment %>
    </div>
  </body>
</html>
