<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'folio/css/style.css' %}">
  </head>
  <body>
    <main>
      <h1>Welcome {{request.session.user.first_name}} to My Portfolio!</h1>
      <a href="{% url 'logreg:logout' %}">Logout</a>
      <h3>Projects</h3>
      <ul>
        <li><a href="{% url 'time:index' %}">What Time is it?</a></li>
        <li><a href="{% url 'gallery:index' %}">Picture Gallery</a></li>
      </ul>
      <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% if users %}
          {% for user in users %}
          <tr>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </main>
  </body>
</html>
